<section id="login">
  <div style="text-align: center; margin-top: 10%;">
    <h2 class="title">Login</h2>
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <div>
        <mat-form-field style="width: 20%" appearance="fill">
          <mat-label>Enter email</mat-label>
          <input matInput formControlName="email" placeholder="Username" required>
          <mat-error *ngIf="!loginForm.value.email.valid">Required email</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 20%" appearance="fill">
          <mat-label>Enter password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Password" required>
          <mat-error *ngIf="!loginForm.value.password.valid">Required password</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</section>
